.middle-pane-layout {
    .panel {
        border-radius: 10px;
        box-shadow: 2px 2px 5px 1px #d9d9d9;
    }

    .action-list {
        button {
            width: 120px;
        }
    }
}


.p-4 {
    min-height: 400px;
    border: 2px dashed #cbd5e0;
    transition: background-color 0.3s;
}

.p-4:hover {
    background-color: #f7fafc;
}

button {
    transition: color 0.2s;
}

button:hover {
    color: #b91c1c;
}