<div class=" mt-4 h-full" (drop)="onDrop($event)" (dragover)="allowDrop($event)">
    @for (field of formFields; track $index) {
    <div class="bg-white rounded-md shadow-sm mb-3 relative flex">

        <div class="left p-4 grid place-items-center" style="border-right: 1px solid #e7e7e7;">
            <app-svg-icon name="drag"></app-svg-icon>
        </div>

        <div class="right p-4 w-full">
            <div class="flex align-center justify-between mb-3">
                <label class="block text-gray-700 font-medium mb-1" [ngClass]="{ 'required': field.required }">
                    {{ field.label }}
                </label>

                <div class="action-list flex gap-2">
                    <app-svg-icon [id]="field.id" (iconClick)="openDrawer($event)" name="edit"></app-svg-icon>

                    <app-svg-icon name="duplicate"></app-svg-icon>

                    <app-svg-icon [id]="field.id" (iconClick)="removeField($event)" name="delete"></app-svg-icon>

                </div>
            </div>

            <div class="description">
                <span>
                    {{ field.descrption }}
                </span>
            </div>

            <div>
                @switch (field.type) {
                @case ('single_line_text') {
                <input type="text" placeholder="Enter text" class="w-full p-2 border rounded-md" />
                }

                @case ('multi_line_text') {
                <textarea placeholder="Enter text" class="w-full p-2 border rounded-md"></textarea>
                }

                @case ('integer') {
                <input type="number" placeholder="Enter number" class="w-full p-2 border rounded-md" />
                }

                @case ('date') {
                <input type="date" class="w-full p-2 border rounded-md" />
                }

                @case ('time') {
                <input type="time" class="w-full p-2 border rounded-md" />
                }

                @case ('date_time') {
                <input type="datetime-local" class="w-full p-2 border rounded-md" />
                }

                @case ('dropdown') {
                <select class="w-full p-2 border rounded-md">
                    <option>Option 1</option>
                    <option>Option 2</option>
                    <option>Option 3</option>
                </select>
                }

                @case ('single_selection') {
                <div class="space-y-1">
                    <label class="flex items-center space-x-2">
                        <input type="radio" name="single-{{ $index }}" /> <span>Option 1</span>
                    </label>
                    <label class="flex items-center space-x-2">
                        <input type="radio" name="single-{{ $index }}" /> <span>Option 2</span>
                    </label>
                </div>
                }

                @case ('multi_selection') {
                <div class="space-y-1">
                    <label class="flex items-center space-x-2">
                        <input type="checkbox" /> <span>Option 1</span>
                    </label>
                    <label class="flex items-center space-x-2">
                        <input type="checkbox" /> <span>Option 2</span>
                    </label>
                </div>
                }

                @case ('upload') {
                <input type="file" class="w-full p-2 border rounded-md" />
                }
                }
            </div>
        </div>

    </div>
    }
</div>