<div class="h-full">
  <div class="flex justify-between items-center mb-2">
    <span class="text-lg font-medium">Field Groups</span>
    <button type="button" (click)="addFieldGroup()"
      class="text-s text-[#1da1f2]/100 font-small text-center inline-flex items-center hover:text-[#1da1f2]/75 ">
      <app-svg-icon name="create"></app-svg-icon>
      <span class="ml-2">Create new</span>
    </button>
  </div>

  <!-- List of Field Groups -->
  <ul class="field-group-list">
    @for (group of fieldGroups; track $index) {
    <li class="flex flex justify-content items-center p-2 mb-3" (click)="selectFieldGroup(group)">

      <app-svg-icon name="list"></app-svg-icon>

      <span class="ml-2">{{ group.name }} </span>

    </li>

    @if ($index === 0) {
    <div class="line"></div>
    }

    }
  </ul>
</div>