@use '../../../assets/styles/variables';

.field-group-list {
    li {
        border: 1px solid variables.$border-color;
        border-radius: 8px;
        color: #404040;

        span {
            font-weight: 400;
        }

        &:hover,
        &:focus {
            opacity: 0.7;
            cursor: pointer;
        }
    }

    .line {
        height: 2px;
        background: variables.$border-color;
        margin: 10px 0;
    }
}