// .p-4 {
//     max-height: 100vh;
//     overflow-y: auto;
// }

// .cursor-move {
//     transition: background-color 0.2s;
// }

// .cursor-move:hover {
//     background-color: #f9fafb;
// }

// input[type="text"] {
//     transition: box-shadow 0.2s;
// }

// input[type="text"]:focus {
//     box-shadow: 0 0 0 2px rgba(59, 130, 246, 0.5);
// }

.icon {
    width: 50px;
    height: 50px;
    display: grid;
    align-items: center;
}