<div class="h-screen flex flex-col">
    <!-- Top Section: Main Form Builder UI -->
    <div class="flex flex-grow">
      <!-- Left Pane (Field Groups) -->
      <app-left-pane class="w-1/5 bg-white p-4 overflow-auto"></app-left-pane>
  
      <!-- Middle Pane (Form Elements) -->
      <app-middle-pane class="w-3/5 bg-gray-100 p-4 border-x overflow-auto"></app-middle-pane>
  
      <!-- Right Pane (Available Elements) -->
      <app-right-pane class="w-1/5 bg-white p-4 overflow-auto"></app-right-pane>
    </div>
  </div>
  